The [U.S. Energy Information Administration](https://www.eia.gov/) has numerous datasets pertaining to energy usage, by source and by state, available on its website.

I'd like to scrape these datasets from the PDFs made available on their website (blah) and do the following:

1. Scrape the tables from the following datasets, at minimum:
 a. https://www.eia.gov/state/seds/sep_sum/html/pdf/rank_use_gdp.pdf
 
 b. https://www.eia.gov/state/seds/sep_sum/html/pdf/rank_use.pdf
 
 c. https://www.eia.gov/state/seds/sep_sum/html/pdf/rank_use_source.pdf
 
 d. https://www.eia.gov/state/seds/sep_sum/html/pdf/rank_use_capita.pdf
2. Tidy the data
3. Answer these questions:
 a. Which states, in rank order, use the most of each energy source per capita?
 
 b. Which states, in rank order, produce the most of each energy source per capita?
 
 c. Additional questions here.

#### EIA Data Page
https://www.eia.gov/state/seds/seds-data-complete.php#StatisticsIndicators

## Import Modules

In [2]:
#Math and DataFrames
import numpy as np
import scipy.stats
import scipy.special
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
sns.set(style="whitegrid")

## Consumption by Energy Source

_All units in billions BTU_

In [11]:
coal_use = pd.read_excel("../../data/use_energy_source.xlsx", sheet_name="Coal", skiprows=[0, 1])

In [13]:
natgas_use = pd.read_excel("../../data/use_energy_source.xlsx", sheet_name="Natural Gas", skiprows=[0, 1])

In [14]:
petroleum_use = pd.read_excel("../../data/use_energy_source.xlsx", sheet_name="Petroleum", skiprows=[0, 1])

In [15]:
nuclear_use = pd.read_excel("../../data/use_energy_source.xlsx", sheet_name="Nuclear", skiprows=[0, 1])

In [29]:
renewable_use = pd.read_excel("../../data/use_energy_source.xlsx", sheet_name="Total Renewable Energy", skiprows=[0, 1])
renewable_use.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AK,6800,7313,7453,7793,8102,8519,8328,8457,8486,...,15912,17148,16702,17831,18931,22762,23828,26226,24438,24960
1,AL,112809,118021,125564,112682,137992,121888,121238,144384,129673,...,274392,266140,279972,265964,336862,293899,284415,259532,281538,298413
2,AR,48104,51144,47637,41897,42732,46425,51697,46124,64986,...,130887,138625,135135,125379,132369,131627,129281,127818,120247,123771
3,AZ,36181,35083,34533,34861,34271,50095,58060,56423,63456,...,96274,101344,129780,114962,119660,139783,149186,162312,171736,178463
4,CA,270161,248178,329046,360333,331757,418518,375877,473192,397366,...,726123,837498,947812,811515,859435,865005,863477,1060607,1251196,1154499

Unfortunately, none of these datasets are tidy. I will need to write a few lines of code to do the following:

- Place each year as a row
-

## Production by Source

_All units in billions BTU_

In [18]:
coal_prod = pd.read_excel("../../data/prod_btu_ff_nu.xlsx", sheet_name="Coal", skiprows=[0, 1])

In [19]:
natgas_prod = pd.read_excel("../../data/prod_btu_ff_nu.xlsx", sheet_name="Natural Gas", skiprows=[0, 1])

In [20]:
crudeoil_prod = pd.read_excel("../../data/prod_btu_ff_nu.xlsx", sheet_name="Crude Oil", skiprows=[0, 1])

In [21]:
nuclear_prod = pd.read_excel("../../data/prod_btu_ff_nu.xlsx", sheet_name="Nuclear Electric Power", skiprows=[0, 1])

In [22]:
biofuels_prod = pd.read_excel("../../data/prod_btu_re_te.xlsx", sheet_name="Biofuels", skiprows=[0, 1])

In [23]:
wood_waste_prod = pd.read_excel("../../data/prod_btu_re_te.xlsx", sheet_name="Wood and Waste", skiprows=[0, 1])

In [24]:
other_renewables_prod = pd.read_excel("../../data/prod_btu_re_te.xlsx", sheet_name="Other Renewables", skiprows=[0, 1])

In [25]:
total_renewables_prod = pd.read_excel("../../data/prod_btu_re_te.xlsx", sheet_name="Total Renewables", skiprows=[0, 1])

In [26]:
total_primary_prod = pd.read_excel("../../data/prod_btu_re_te.xlsx", sheet_name="Total Primary Energy", skiprows=[0, 1])